@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Colors*/

:root {
  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-bar: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-bar: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
}

/*comportamiento de la barra*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

/*adorno en logo de la barra
.nav-bar .logo a::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
}
*/

/*comportamiento de items en general dentro de la barra*/
nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*comportamiento de links dentro de la barra a la derecha*/
.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

/* */
.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}
/* */
.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

/*mismo codigo de adorno en logo pero en los links*/
.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  /* desaparece los adornos*/
  opacity: 0;
  transition: all 0.3s ease;
}

/*hacer visible al pasar el mouse*/
.nav-links li:hover a::before {
  opacity: 1;
}

/*comportamiento sol/luna*/
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

/**************************/

/*iconos ubicacion y caracteristicas*/
.dark-light i,
.searchBox i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*************************/

/*desaparece el sol*/
.dark-light i.sol {
  opacity: 0;
  pointer-events: none;
}
/*aparece el sol y aparece la luna con active*/
.dark-light.active i.sol {
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.luna {
  opacity: 0;
  pointer-events: none;
}

/***********************/

/*desaparece la X*/
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}
/*aparece la X y aparece la lupa*/
.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.buscar {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  /*?*/
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field {
  color: var(--text-color);
}

/*******************Media******************/

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-bar);
    z-index: 100;
    transition: all 0.3s ease;
  }

  /*class js*/
  nav.active .menu {
    left: 0%;
  }

  /*con el 'active' desaparece el logo de la barra normal al salir la side bard */
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .sidebarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}
