//Just to centralize the carousel, you may delete this
body,
html {
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//This is important, you should have by default in your project
* {
  box-sizing: border-box !important;
}

.carousel {
  //Dimensions
  width: 70%;
  height: 60%;
  //Try to remove overflow and see what is happening
  overflow: hidden;
  //Position relative cause the navigation is absolute
  position: relative;
  .content {
    //Flex for positioning the child elements in row
    display: flex;
    //Make the content the same width as the carousel
    height: 120%;
    //Animation transition
    transition: 500ms ease-in-out;
    > * {
      //The direct child elements (images) will fit the carousel
      min-width: 100%;
      //Avoi images distortions
      object-fit: cover;
    }
  }
  .navigation {
    //Separate the forward and backward button
    display: flex;
    justify-content: space-between;
    width: 100%;
    //Place them in the center of the carousel
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    //Other styles, just for appearance
    div {
      cursor: pointer;
      font-size: 3rem;
      padding: 0 5px;
      color: #fff;
      opacity: 0.9;
      transition: 300ms;
    }
  }
}
/////////////////////////////////////////////////////////////////
span {
  background-color: red;
}

h1 {
  text-align: center;
}
