.hoho{
    display: block;
    margin: 0 auto;
}

.parallax-header{
    background: #000;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8)
    ),
    url('./media/img3.jpg');
 background-attachment: fixed;
 background-position: center; 
 background-repeat: no-repeat;
 background-size: cover; 
}

.header-content{
    padding: 100px 0 150px 0;
}

.content{
    margin-top: -80px;
    background: #fff;
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.2);
}

.content .left{
    padding: 0;
}
.text-justify{
    text-align: justify;
}

.content .bottom{
    background-color: #dc3545;
    padding: 20px;
}

.primary-color{
    color: #dc3545;
}