/****Autana*******/

.auta1{
    display: block;
    position: absolute;
}

.auta2{
    display: block;
    position: absolute;
    z-index: 2;
    transition: all;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
}
.auta2:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}



/**********Roraima***************/

video{
    width: 100%;
    
}

/************Auyantepuy***********************/

#auyant{
    filter: grayscale(80%);
    transition: all;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    
}

#auyant:hover{
    filter: none;
}