
.dolauriane {	
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 2rem;
	color: rgba(127,51,203,1);
}

.table-fixed{
	position: sticky;
	top: 0px;
	background: white;
}

.fa-check-circle {
	color: rgba(114,217,68,1);
	
	
}

.verde{
	background-color:rgba(127,51,203,1) !important;
	border-color:rgba(114,217,68,1) !important;
	font-size: 1.5rem;
}

th, td, tr{
	font-size: 1.5rem;
	font-family: Helvetica Neue;
}

.sub{
	font-size: 1.8rem;
	
}