/*variables color*/
$yellow: #ff0;
$light_yellow: #ff4;
$dark_grey: #222;
$light_grey: #444;
$silver: #eee;
$light: #fff;

/*variables fonts*/
$gragdHotel: "Grand Hotel", serif;
$oepnSans: "Open Sans", helvetica, arial, sans-serif;

//mixins
